html {
  font-size: 10px;
  touch-action: pan-x pan-y;
  user-select: none;
}

body {
  color: var(--c-txt);
  font-family: "Noto Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}

.pageContent {
  box-shadow: 0 0 0.1rem #333;
  height: 100%;
  width: min(100%, var(--w-pc));
  margin: 0 auto;
  min-height: 100dvh;
  padding: var(--gutter);
  position: relative;

  main {
    .contentBody {
      .pageTitle {
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
      }

      section {
        &:not(:last-child) {
          margin-bottom: calc(var(--gutter) * 1.5);
        }

        > *:not(:last-child) {
          margin-bottom: calc(var(--gutter) / 2);
        }

        .secTitle {
          font-size: 2rem;
          font-weight: 700;
        }
      }
    }
  }
}

/* button style */
.btn-primary {
  background-color: var(--c-primary);
  border-radius: .4rem;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  padding: 1.2rem 3.6rem;
  text-align: center;
  width: fit-content;

  &[aria-disabled="true"] {
    background-color: var(--c-gray);
    cursor: not-allowed;
  }
}
.btn-secondary {
  border: 0.1rem solid var(--c-primary);
  border-radius: 0.4rem;
  color: var(--c-primary);
  display: inline-block;
  font-weight: 700;
  padding: 1.2rem 3.6rem;
  text-align: center;
  width: fit-content;
}

/* carousel */
.carousel-banner {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(var(--i), calc(100% - 3.2rem));
  overflow: scroll hidden;
  padding: 0.05rem;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }

  .carousel-item {
    box-shadow: 0 0 0.1rem #333;
    scroll-snap-align: center;

    .txtBox {
      padding: 0.8rem;

      .title {
        font-weight: 700;
      }
    }
  }
}

/* column */
.column-wrap {
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(2, 1fr);
}

/* form style */
.form-input {
  border-radius: 0.4rem;
  display: block;
  outline: .1rem solid var(--c-gray);
  padding: 0.8rem;
  width: 100%;

  &:focus {
    outline-color: var(--c-primary);
  }
}
.form-err {
  color: var(--c-red);
  display: none;

  &.is-show {
    display: block;
  }
}

/* divider */
.divider-bottom {
  border-bottom: .1rem solid var(--c-gray);
  padding-bottom: var(--gutter);
}

/* icon */
.icn {
  display: block;
  height: 2.4rem;
  width: 2.4rem;
  overflow: hidden;
  position: relative;

  &::before {
    color: var(--c-primary);
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.icn-arrow-left::before {
  content: "\e5e0";
}

/* image */
.img-fullVis {
  img {
    display: block;
    margin-left: calc(-1 * var(--gutter));
    width: calc(100% + 2 * var(--gutter));
  }
}

/* text style */
.fs-huge {
  font-size: 3.2rem;
}
.fs-xlarge {
  font-size: 2.4rem;
}
.fs-large {
  font-size: 2rem;
}
.fs-medium {
  font-size: 1.6rem;
}
.fs-small {
  font-size: 1.2rem;
}
.fs-xsmall {
  font-size: 1rem;
}

.fw-bold {
  font-weight: 700;
}
.fw-light {
  font-weight: 300;
}

.t-left {
  text-align: left;
}
.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}

/* width */
.w-100 {
  width: 100%;
}
